.workout-list {
  margin-bottom: 0.6rem;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d4e7f7;
  width: 10rem;
  height: max-content;
  padding: 1rem;
}

.edit-btn {
  margin-top: 2rem;
  border-style: none;
  border-radius: 1rem;
  width: 4rem;
  height: 2rem;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: rgb(8, 8, 114);
  box-shadow: 0 8px 15px rgb(0 0 0 / 21%);
  color: white;
  font-weight: bold;
}

.main-workout {
  margin-top: 1rem;
}

.workout-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
