.form-main-wrapper {
  width: 25%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem 2rem 0rem;
  background: rgb(163, 163, 163);
  border-radius: 1rem;
  padding: 0.5rem;
}

.form-wrapper label {
  font-size: 500;
  color: rgb(77, 77, 77);
}

.form-wrapper input[type="text"] {
  height: 2rem;
  border: none;
  margin: 0.5rem;
}
.input-field {
  padding: 0.4rem;
  display: block;
  width: 2.3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d5dce1;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.add-btn {
  background-color: #3aa2fd;
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  width: 7rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.add-btn:hover {
  background-color: black;
}

.submit-btn {
  background-color: #0277dd;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  width: 4rem;
  height: 2.5rem;
}

.submit-btn:hover {
  background-color: #3aa2fd;
}

.exercise-content-wrapper {
  display: flex;
  flex-direction: column;
  background: #a2d3ff;
  padding: 0.8rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

.add-exercise-btn {
  background: #4e4e4e;
  color: white;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  margin: 1rem;
  float: right;
}

.cancel-btn {
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  margin-left: 11rem;
}

.cancel-btn:hover {
  color: black;
}
