.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 13rem;
  background-color: rgb(114, 184, 245);
  margin: 1rem;
  height: max-content;
  padding: 1rem;
  border-radius: 4rem;
}

.delete-btn {
  background-color: #131618;
  color: white;
  margin: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  width: 3.5rem;
  height: 2rem;
  text-align: center;
}

.delete-btn:hover {
  background-color: #7a7a7a;
}

.edit-button {
  background-color: rgb(239, 241, 93);
  color: black;
  margin: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: none;
  width: 3.5rem;
  height: 2rem;
  text-align: center;
}

.edit-button:hover {
  background-color: rgb(249, 250, 168);
}
