.signup-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.signup-form-wrapper {
  border-style: none;
  border-width: 0.1rem;
  border-radius: 1.3rem;
  width: 30rem;
  height: 30rem;
  background-image: linear-gradient(
    189deg,
    rgb(157 40 56 / 40%),
    rgb(0 136 253 / 40%)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.signup-form-input {
  padding: 1rem 3.2rem;
  border: none;
  margin-top: 1rem;
  border-radius: 1.5rem;
  font-size: medium;
}

.signup-form-btn {
  margin-top: 2rem;
  border-style: none;
  border-radius: 1.3rem;
  width: 10rem;
  height: 2.4rem;
  font-size: 1.1rem;
  cursor: pointer;
  color: rgb(8, 8, 114);
  box-shadow: 0 8px 15px rgb(0 0 0 / 21%);
  background-color: white;
  font-weight: bold;
}

.signup-form-btn:hover {
  background-color: rgb(8, 8, 114);
  color: white;
}

.input-label {
  font-weight: bold;
  margin-right: 12rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.spinner {
  animation: spin infinite 5s linear;

  /*You can increase or decrease the timer (5s) to 
   increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
